.sideBarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #606060;
    font-size: large !important;
}

.sideBarRow_title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 400;
}

.sideBarRow:hover, .sideBarRow.selected {
    background-color: lightgray;
}

.sideBarRow:hover .sideBarRow_icon,
.sideBarRow.selected .sideBarRow_icon {
    color: red;
}

.sideBarRow:hover .sideBarRow_title,
.sideBarRow.selected .sideBarRow_title {
    font-weight: bold;
}
