.recommendedVideos {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
}

.recommendedVideos>h2 {
    margin: 0;
    margin-bottom: 20px;
}

.recommendedVideos_videos {
    display: flex;
    flex-wrap: wrap;
}