.videoRow {
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    
}

.videoRow>img {
    object-fit: contain;
    max-width: 150px;
    max-height: 75px;
    display: block;
    margin: auto;
}

.videoRow_text {
    margin-left: 14px;
}

.videoRow_text>h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.videoRow_headline {
    margin-top: 0px;
    margin-bottom: 5px;
}

.videoRow_description {
    margin-top: 0px;
    margin-bottom: 5px;
}

.videoRow_subs {
    background-color: lightgray;
    padding: 2px;
}

.videoRow_subsNumber {
    font-weight: bolder;
    color: rgb(84, 157, 211);
}

.videoRow_description {
    margin-top: 20px;
    font-size: 12px;
    color: #606060;
}

.videoRow_headline {
    font-size: 12px;
    color: #606060;
}

.videoRow_headline,
.videoRow_description {
    margin-top: 10px;
}