#uploader-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
}

#uploaded-row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
}

#upload-content {
    display: flex;
    align-items: center;
}

#app-body-uploader {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#uploader-form-3,
#uploader-form-4,
#uploader-form-5
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#uploader-form-5 {
    height: 70px;
    resize: vertical;
}

#upload-button button {
    background-color: #1475cf;
    color: #fff;
    border: none;
    width: 500px;
    padding: 10px 20px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: background-color 0.3s ease;
}

#upload-button button:hover {
    background-color: #125b9d;
}
