.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.uploaded-videos {
  text-align: center;
  width: 80%;
}

.uploaded-videos h2 {
  color: #333;
  font-size: large;
}

.id-card {
  display: flex;
  border: 1px solid #ccc;
  max-width: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.id-card-left {
  flex: 0 0 auto;
  margin-right: 20px;
}

.id-card-right {
  flex: 1;
}

.id-card-row {
  margin-bottom: 10px;
}