.video-item {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.video-info {
  margin-top: 10px;
  text-align: left; 
}

.video-info h3 {
  margin: 0;
  font-size: 16px;
}

.video-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
  text-align: left; 
}
