.signup_page {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.signup_head {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.signup_input {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.submit_button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.submit_button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .signup_page {
        max-width: 100%;
    }
}